@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

.logo{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo{
    color: #fff;
    display: flex;
    align-items: center;
}


.menu-mobile{
    display: none;
    text-align: center;
}

.nav-item{
    padding: 10px 0px;
    border-top: 1px solid white;
}

.nav-link{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

.logar{
    border-top: 1px solid #fff;
    padding: 10px;
}

.botao{
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    background-color: #1179dbd3;
}

.botao a{
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

.nav-item:hover{
    background-color: #ffffff9c;
}

.login-button{
    width: 35px;
    height: 35px;
    display: block;
    color: #fff;
    background-color: #24252a;
    border-color: transparent;
    
}



