@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: lightslategrey;
}

header{
    background-color: gray;
}

header h1{
    padding: 35px;
    text-align: center;
}

menu{
    display: none;
}

menu ul{
    list-style: none;
}

menu li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #505050;
    text-align: center;
    color: white;
    border-top: 2px solid #b4b4b4;
}

menu a:hover{
    color: black;
    background-color: white;
}

header img{
    cursor: pointer;
}

header p{
    color: white;
    text-align: center;
    background-color: #505050;
}

main{
    width: 80vw;
    padding: 13px;
    margin: auto;
    border-radius: 8px;
    background-color: white;
}